/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.spinner{
    animation:spin 300s linear infinite;  
}

@keyframes spin { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
    25% { -webkit-transform: rotate(-45deg); transform:rotate(-45deg); }
    75% { -webkit-transform: rotate(45deg); transform:rotate(45deg); }
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.has-error{
    color: red;
    border-color: red;
}